header {
  background-color: teal;
  height: 50px;
}

header h1 {
  color: white;
  margin: 0;
  font: Helvetica;
  font-family: sans-serif;
  font-size: x-large;
}

header.row {
  justify-content: space-between;
}

header select {
  color: white;
  background-color: teal;
  background-image:
  linear-gradient(45deg, transparent 50%, white 50%),
  linear-gradient(135deg, white 50%, transparent 50%);
}

header select:hover {
  cursor: pointer;
  background-color: #015e5e;
  box-shadow: none;
}

header select:focus {
  background-color: #015e5e;
  background-image:
  linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%);
  outline: none;
  box-shadow: none;
}